<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/tutorials</property>
        <property name="connection.username">linken</property>
        <property name="connection.password">l</property>
        <property name="connection.pool_size">1</property>

        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="cache.providerclass">org.hibernate.NoCacheProvider</property>

        <property name="show_sql">true</property>
        <property name="use_sql_comments">true</property>

        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hdm2ddl.auto">update</property>

        <mapping class="dev.kyuelin.hibernate.model.Family"/>
        <mapping class="dev.kyuelin.hibernate.model.User"/>
        <mapping class="dev.kyuelin.hibernate.model.Course"/>
        <mapping class="dev.kyuelin.hibernate.model.CoursePK"/>
        <mapping class="dev.kyuelin.hibernate.model.Trade"/>
        <mapping class="dev.kyuelin.hibernate.model.Showroom"/>
        <mapping class="dev.kyuelin.hibernate.model.Car"/>
        <mapping class="dev.kyuelin.hibernate.model.Employee"/>
        <mapping class="dev.kyuelin.hibernate.model.Department"/>
        <mapping class="dev.kyuelin.hibernate.model.Movie"/>
        <mapping class="dev.kyuelin.hibernate.model.Actor"/>

    </session-factory>
</hibernate-configuration>